{:aliases {:dev {:extra-paths ["dev/src" "test"]
                 :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                              io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                              criterium/criterium {:mvn/version "0.4.6"}
                              commonmark-hiccup/commonmark-hiccup {:mvn/version "0.2.0"}}}

           :doc {:extra-paths ["dev/src" "test"]
                 :extra-deps {me.flowthing/engraph {:git/url "https://github.com/eerohele/engraph.git"
                                                    :sha "0bb6fd13de2e33db7f77d63e4c9035282e0f5163"}}}}}
